



section h2{
	color: #006db6;
	margin-bottom: 40px;

}


.formulario{
	width: 35%;
	grid-column: 1 / -1;
	padding: 40px;
	border: 4px solid black;
	

}

.form-control{
	margin-bottom: 20px;

}

.formFecha{
	width: 100%;
	margin-left: -12px;
	margin-top: -25px;
}

.formSexo{
	margin-top: 20px;

}


.condiciones{
	margin-top: 20px;

}