



.tituloForm{
	color: #006db6;
	display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -20px;

}


.formulario{
	width: 100%;
	grid-column: 1 / -1;
	padding: 40px;

	display: flex;
    align-items: center;
    justify-content: center;
	

}

.form-control{

	margin-bottom: 20px;

}

.formFecha{
	width: 100%;
	margin-left: -12px;
	margin-top: -25px;
}

.formSexo{
	margin-top: 20px;

}


.condiciones{
	margin-top: 20px;

}


.condiciones{
	margin-top: 20px;

}
